# Ignore all .env files
.env*
.env.local

# Ignore pycache
__pycache__
**/.DS_Store
# Ignore all .pyc files
*.pyc
# ignore .html related to backtesting
*.html

# Ignore csv files
*.csv
# Ignore pdf files
*.pdf
# ignore notes.md files in all subfolders
*/notes.md

# ignore data folder
external_data/
scraper_csv/
fundamental_stock/small_caps_data/
stock_analyzer/data/

# yahoo_fin lib files
yahoo_fin_master/

linkedin.py


