# Ignore all .env files
.env*
.env.local

# Ignore pycache
__pycache__

# Ignore all .pyc files
*.pyc

# Ignore csv files
*.csv

# Ignore pdf files
*.pdf

# ignore notes.md
notes.md

# ignore data folder
external_data/
scraper_csv/

# ignore .html related to backtesting
*.html

# yahoo_fin lib files
yahoo_fin_master/

**/.DS_Store

linkedin.py

notes.md


